<!-- tmpl_include name="header.tmpl"  -->

<main>
<div  id="file-select-button"><input type="file" id="fileselect" name="fileselect"   /></div>
<div id="preview-row">
<div id="drop-target"></div>
<div id="preview">
<canvas id="canvas"></canvas>
</div>
</div>
<div id="image-text"><input id="imagetext" class="input-field" style="width:80%;" autofocus  /> </div> 
<div id="upload-image"><button  id="mysubmit" onclick=myupload_dojo()>upload</button><span id="uploadmessage"></span></div> 
<div id="messages"></div>

<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js"></script>
<script src="<!-- tmpl_var name="home_page" -->/javascript/exif.js"></script>
<script src="<!-- tmpl_var name="home_page" -->/javascript/waxwing.js"></script>

</main>

</body>
</html>

<!-- tmpl_include name="footer.tmpl" -->
