<br />
<footer class="sitewide-footer greytext">
<center>
<a title="About, Help, Contact" href="/f8e6eda33d49311d5ab6d4353f060488">info</a>
<div>
&copy; 2015 <a href="<!-- tmpl_var name="home_page" -->"><strong><!-- tmpl_var name="site_name" --></strong></a>  - <!-- tmpl_var name="site_description" -->
</div>
</center>
</footer>
</body>
</html>
