<!-- tmpl_include name="header.tmpl" -->
<main>
<article>
<p>
<section class="stream-content">
<span class="greytext">uploaded on <a title="by <!-- tmpl_var name="author" -->" href="/<!-- tmpl_var name="slug" -->"><time datetime="<!-- tmpl_var name="formatted_updated_at" -->"><!-- tmpl_var name="formatted_updated_at" --></time></a> </span>
<br />
<a href="<!-- tmpl_var name="image_url" -->"><img src="<!-- tmpl_var name="image_url" -->"></a>
<br />
<div class="imagetext"><!-- tmpl_var name="html" --></div>
</section>
</p>
</article>
</main>
<!-- tmpl_include name="footer.tmpl" -->
